:root {

  --color-brand-one: rgb(248, 248, 248);
  --color-brand-two: rgb(20, 20, 20);
  --color-brand-three: #3384ff;
  --color-brand-four: rgb(233, 241, 248);
  --color-brand-five: rgba(0, 0, 0, 0.1);
  --color-brand-six: rgb(220, 231, 240);

  --color-gradient-brand-one: linear-gradient(320deg,rgba(51, 132, 255, 1) 0%, rgba(144, 223, 105, 1) 100%);

}

.bg-none {
  background: none;
}

.bg-color-brand-one {
  background-color: var(--color-brand-one);
}

.bg-color-brand-two {
  background-color: var(--color-brand-two);
}

.bg-color-brand-three {
  background-color: var(--color-brand-three);
}

.bg-color-brand-four {
  background-color: var(--color-brand-four);
}

.bg-color-brand-five {
  background-color: var(--color-brand-five);
}

.bg-color-brand-six {
  background-color: var(--color-brand-six);
}

.bg-color-grandit-brand-one{
  background: var(--color-gradient-brand-one);
}

.color-brand-one{
  color: var(--color-brand-one);
}

.color-brand-two{
  color: var(--color-brand-two);
}

.color-brand-three{
  color: var(--color-brand-three);
}

.color-brand-four{
  color: var(--color-brand-four);
}

.color-brand-five{
  color: var(--color-brand-five);
}

.color-brand-six{
  color: var(--color-brand-six);
}