:root {

  --color-brand-one: rgb(248, 248, 248);
  --color-brand-two: rgb(20, 20, 20);
  --color-brand-three: rgb(22, 103, 255);
  --color-brand-four: rgb(255, 255, 255);
  --color-brand-five: rgb(36, 36, 36);

}

.bg-none {
  background: none;
}

.bg-color-brand-one {
  background-color: var(--color-brand-one);
}

.bg-color-brand-two {
  background-color: var(--color-brand-two);
}

.bg-color-brand-three {
  background-color: var(--color-brand-three);
}

.bg-color-brand-four {
  background-color: var(--color-brand-four);
}

.bg-color-brand-five {
  background-color: var(--color-brand-five);
}

.bg-color-brand-star {
  background-color: var(--color-brand-star);
}

.color-brand-one{
  color: var(--color-brand-one);
}

.color-brand-two{
  color: var(--color-brand-two);
}

.color-brand-three{
  color: var(--color-brand-three);
}

.color-brand-four{
  color: var(--color-brand-four);
}

.color-brand-five{
  color: var(--color-brand-five);
}