.dark{

    --color-brand-one: rgb(20, 20, 20);
    --color-brand-two: rgb(248, 248, 248);
    --color-brand-three: #3384ff;
    --color-brand-four: rgb(30, 30, 30);
    --color-brand-five: rgba(250, 250, 250, 0.50);

}